h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0rem;
}

ol, ul {
  margin: 1rem 0;
}

ul {
  list-style: disc outside none;
}

ol {
  list-style: decimal outside none;
}

li > ul, ol {
  margin: 0rem 1rem;
}

h1, h1, h3, h4, h5, h6, p, div, ol, ul, li {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1s;
}